/.project
/.classpath
/.settings
/.gradle
/javadoc-taglet/.classpath
/javadoc-taglet/.project
/javadoc-taglet/.settings
/javadoc-taglet/bin
/javadoc-taglet/build
/framework/.eclipse
/framework/.gradle
/framework/.settings
/aspects/build
/aspects/.settings
/aspects/.classpath
/aspects/.project
/framework/build
/framework/tmp
/framework/bin
/aspects/bin
/framework/.classpath
/framework/.project
/framework/mavenRepo
/aspects/mavenRepo
/javadoc-taglet/target
/release.bat
/publish-snapshot.bat
/codegen/.settings
/codegen/bin
/codegen/build
/codegen/.classpath
/codegen/.project
/codegen/mavenRepo
/extras/.project
/extras/.classpath
/extras/.settings
/extras/build
/extras/bin
/extras/mavenRepo
