<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.robobinding">

    <uses-sdk android:minSdkVersion="18" />

    <application
        android:name="org.robobinding.robolectric.TestApplication"
        android:icon="@drawable/icon"
        android:label="@string/text" >
        <activity android:name=".DummyActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>