<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>RoboBinding - {{ page.title }}</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="en" />
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<link rel="stylesheet" type="text/css" href="css/pygments.css" />

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-28623376-1' ]);
	_gaq.push([ '_trackPageview' ]);

	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>

</head>
<body>
	<a href="http://github.com/roberttaylor426/RoboBinding/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
	<div id="main">
		<header> <img src="img/robobinding_header_quarter.png" />
		<div id="latest_version">
			<p>Latest stable: <a href="https://github.com/roberttaylor426/RoboBinding/downloads">{{ site.latest_version }}</a></p>
		</div>
		</header>

		<div id="navigation_bar">
			<nav role="navigation">
				<a href="index.html">Home</a><br />
				<a href="getting_started.html">Getting started</a><br />
					<ul>
						<li><a href="eclipse.html">Eclipse</a></li>
						<li><a href="maven.html">Maven</a></li>
						<li><a href="proguard.html">ProGuard</a></li>
					</ul>
				<a href="binding_attributes.html">Binding attributes</a><br />
				<a href="http://groups.google.com/group/robobinding">Google group</a><br />
				<a href="on_the_web.html">On the web</a><br />
			</nav>
		</div>

		<div id="content">{{ content }}</div>
		<footer>
		<p>
			Disclaimer: portions of this page are modifications based on work
			created and <a href="http://code.google.com/policies.html">shared
				by Google</a> and used according to terms described in the <a
				href="http://creativecommons.org/licenses/by/3.0/">Creative
				Commons 3.0 Attribution License</a>
		</p>
		</footer>
	</div>
</body>
</html>
